<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Created: Due on {DueDate}</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Arial', sans-serif; background-color: #f4f4f4;">

<table role="presentation" cellspacing="0" cellpadding="0" style="margin: auto; max-width: 600px; width: 100%;">
    <tr>
        <!--        todo: Use as subject: Invoice From {BusinessName}: Due on {DueDate}.-->
        <td style="padding: 20px; text-align: center; background-color: #ffffff;">
            <h1 style="color: #333333;">Dear {FirstName} {LastName},</h1>
            <p style="color: #666666;">Attached is Invoice {InvoiceNo}}, due for payment on {DueDate}.</p>
            <p style="color: #666666;">Should you have any inquiries, feel free to contact us.</p>
            <p style="color: #666666;">You can follow this <a href="{BaseUrl}/pay-invoice/{InvoiceNo}"
                                                              style="text-decoration: none; color: #3498db;">link</a> to
                complete your payment.</p>
            <p style="color: #666666;">Warm regards,</p>
            <p style="color: #666666;">Support</p>
            <p style="color: #666666;">SimpleBiz</p>
            <a href="mailto:{ReplyToEmail}" style="text-decoration: none; color: #3498db;">{ReplyToEmail}</a>
        </td>
    </tr>
</table>

</body>
</html>